@use "global";

$header-font-size: 32px;

body {
  padding: 40px;
  background-color: rgb(247, 247, 247);
}

header {
  p {
    color: hsl(212, 6%, 44%);
    text-align: center;
    margin-bottom: 0;
  }

  p.features {
    font-size: 24px;
    font-weight: 200;
    color: rgb(130, 129, 129);
  }
  p.emphasize {
    font-size: 24px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;

  .card {
    flex: 1 100%;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
    border-radius: 0.5em;
    border: none;
    border-top: 5px black solid;
  }

  .card1 {
    border-color: hsl(180, 62%, 55%);
  }
  .card2 {
    border-color: hsl(0, 78%, 62%);
  }
  .card3 {
    border-color: hsl(34, 97%, 64%);
  }
  .card4 {
    border-color: hsl(212, 86%, 64%);
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 100%;

  #builder,
  #karma {
    width: 100%;
  }
}

section {
  h3 {
    font-size: 24px;
    color: hsl(234, 12%, 34%);
  }

  p {
    color: rgb(137, 136, 136);
  }

  .icon-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media all and (min-width: 1024px) {
  body {
    padding: 70px 120px;
  }

  header {
    margin-bottom: 50px;

    p.features,
    p.emphasize {
      font-size: $header-font-size;
    }
  }
  main {
    gap: 30px;

    .card {
      margin: 0;
      max-height: 250px;
    }

    .column {
      align-items: center;
      flex: 1;
      max-width: 300px;
      gap: 30px;
    }

    .card1 {
      order: 0;
    }

    .card2,
    .card3 {
      order: 1;
    }

    .card4 {
      order: 2;
    }
  }
}
