@use "global";

$header-font-size: 32px;

#supervisor {
  border-color: hsl(180, 62%, 55%);
}
#builder {
  border-color: hsl(0, 78%, 62%);
}
#karma {
  border-color: hsl(34, 97%, 64%);
}
#calculator {
  border-color: hsl(212, 86%, 64%);
}

body {
  padding: 40px;
  background-color: rgb(247, 247, 247);
}

header {
  p {
    color: hsl(212, 6%, 44%);
    text-align: center;
    margin-bottom: 0;
  }

  p.features {
    font-size: 24px;
    font-weight: 200;
    color: rgb(130, 129, 129);
  }
  p.emphasize {
    font-size: 24px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;

  #builder,
  #karma {
    width: 100%;
    flex-shrink: 0;
  }
}

section {
  margin-top: 50px;
  background-color: white;
  border-radius: 0.5em;
  padding: 30px;
  border-top: 5px solid;

  h3 {
    font-size: 24px;
    color: hsl(234, 12%, 34%);
  }

  p {
    color: rgb(137, 136, 136);
  }

  .icon-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media all and (min-width: 1024px) {
  body {
    padding: 70px 120px;
  }

  main {
    gap: 20px;
  }

  header {
    margin-bottom: 50px;

    p.features,
    p.emphasize {
      font-size: $header-font-size;
    }
  }

  section {
    margin: 0;
  }

  .column {
    flex: 1 0 0;
    order: 1;
    gap: 20px;
  }

  #supervisor {
    order: 0;
  }

  #calculator {
    order: 2;
  }
}
